* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

.btn {
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  background: #363636;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: #2196f3;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 475px;
  height: 475px;
}

.btn span {
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 4em;
  padding: 20px;
}
